@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Olyford Medium font */
@font-face {
  font-family: 'Ginto';
  src: url('/fonts/ginto-normal-medium-otf.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Remove Google Font Import */
body {
  font-family: 'Ginto', Arial, sans-serif;
  @apply bg-background text-text-light;
}

a {
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #FF8A65;
  text-decoration: underline;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
